# Site settings
title:          ./ING-COMPUTACION
description:    "Sitio oficial de carrera Ingeniería en Computación de la Universidad Nacional de Río Negro, Sede Andina."
baseurl:        ""
url:            "https://ingcom-unrn.github.io"

# Google Analytics
google_analytics: UA—XXXXXXXX-X

# Author
author:
  name:         UNRN - Ingenieria en Computación
  url:          https://github.com/INGCOM-UNRN

# Build settings
markdown:       kramdown
include:
  - _pages

# Assets
sass:
  sass_dir:     _sass
  style:        compressed

# Gems
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag
  # - jemoji #Uncomment this to allow emoji in your post

# Permalinks
permalink:      /:year-:month-:day/:title
paginate:       5

# Excludes
exclude: [ Gemfile, Gemfile.lock, tale.gemspec ]

# Disqus (Set to your disqus id)
disqus:         jekyll-tale